@import url('https://fonts.googleapis.com/css?family=VT323');

@media (max-width: 400px) {
  .container {
    padding: 20px;
  }

  .back {
    margin-top: 30px;
    margin-bottom: -5px;
  }

  .messageHistory {
    overflow: scroll;
    width: 100%;
    height: 300px;
  }

  .logo-top {
    width: 40%;
    margin-top: 0px;
    margin-bottom: 15px;

  }

  .logo-top:after {
    clear: both;
  }

   .misc-btn {
    background-color: white;
    margin-top: 10px;
    margin-right: 15px;
    color: #fc5f5d;
  }

  .misc-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  /* LOAD */

  #load-img{
    width: 50%;
    margin-left: 25%;
    margin-top: 55%;
  }
  /* LOGIN */

  #login-img {
    margin-bottom: 0px;
    width: 60%;
    text-align: center;
    margin-top: 90px;
    margin-left: 20%;
  }
  .login-input {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 40px;
    padding: 0px 8px;
    border: 1px;
    border-color: white;
  }

  .login-btn {
    background-color: white;
    color: #fc5f5d;
    margin-left: 33%;
    font-size: 1.4em;
    padding: 10px 20px;
    margin-top: 15px;
  }

  .signup-btn {
    background-color: white;
    color: #fc5f5d;
    margin-left: 30%;
    font-size: 1.4em;
    padding: 10px 20px;
    margin-top: 15px;
  }

  #returning {
    margin-left: 17%;
  }

  #fb-login {
    margin-left: 10%;
  }



  .toggle-btn {
    font-size: 1.5em;
    color: white;
    margin-top: 30px;
    margin-left: 15%;
  }

  /* PROFILE */

  .edit {
    margin-left: 7px;
  }

  #see-match {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 2.5em;
    margin-left: 18%;
    margin-bottom: -6px;
    font-family: 'VT323', monospace;
  }

  #profile-main {
   clear: both;
   padding: -10px 30px;
  }

  #past-matches {
    margin-left: 18%;
    margin-right: 0px;
  }

  #find-match {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 2.5em;
    margin-left: 18%;
    margin-bottom: -6px;
    font-family: 'VT323', monospace;
  }

  #bio {
    margin-top: -4px;
  }

  /* QUIZ */

  #answers {
    margin-top: 150px;
  }

  #question-title {
    top: 15px !important;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'VT323', monospace;
    font-size: 3em;
    position: absolute;
    left: -250px;
    width: 100%;
  }

  .answer {
    background-color: white;
    border: 1px red;
    padding: 15px 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
  }

  .answer-text {
    color: #fc5f5d;
    background-color: white;
  }

  /* DAILY MATCH */

  #match-main {
    padding: -30px 30px;
  }

  #your-match {
    font-size: 4em;
    margin-top: -10px;
    margin-bottom:-2px;
  }

  #match-photo {
    border: white 1px;
  }

  #quiz-btn {
    padding: 10px 25px;
    font-size: 1.5em;
    margin-left: 33%;
  }

  #ready-one {

  }

  /* ALL MATCHES */

  .matches-img {
    width: 50%;
  }

  #matches-chat {
    vertical-align: center;
    margin-left: 15%;
    font-size: 1.5em;
  }

  #matches-chat-disabled {
    vertical-align: center;
    margin-left: 15%;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* WAITING */

  #five-hearts {
    margin-top: 200px;
    width: 80%;
    margin-left: 10%;
  }

  #waiting-back {
    margin-top: -5px;
  }

  #waiting-heart {
    width: 15%;
    margin-left: 10px;
    margin-right: -5px;
  }

 #waiting-hearts {
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
  }

  #round2-btn {
    padding: 10px 25px;
    font-size: 1.5em;
    margin-left: 28%;
  }

  .ready-round2 {
    margin-top: 100px;
  }

    /* SIGN UP FORM */

  .age-range {
    width: 33%;
    display: inline-block;
  }

  .age-range-title {
    display: inline-block;
    text-align: left;
  }

  .age-range-div {
    margin-left: -15px;
    margin-bottom: 15px;
  }

  #and {
    margin-left: 0px;
  }

  #max-age {
    width: 53% ;
  }

  #signup-form-submit {
      margin-top: 20px;
      padding: 5px 20px;
      font-size: 2.5em;
      margin-left: 30%;
      margin-bottom: 0px;
      color: #fc5f5d;
  }

  .gender {
    margin-top: -7px !important;
  }

  #age-drop{
    width: 20%;
    margin-bottom: 15px;
  }

  #looking-for{
    margin-top: 10px;
    font-size: 1.5em;
  }

  #about-me {
    font-size: 1.5em;
    margin-top: 0px;
  }

  /* LOST MATCH */

  #lose-text {
    width: 90%;
    margin-left: 5%;
  }

  /* CHAT */

  .messageHistory {
    background-color: white !important;
    color: #fc5f5d;
    padding: 15px;
    border-radius: 5px;
  }

  #chat-hearts {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
  }

  .chat-input {
    width:75%;
    font-size: 1em;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
  }

  .chat-submit {
    width:25%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #fc5f5d;
    margin-top: 0px;
    height: 44px;

  }

  .chat-questions {
    padding: 10px;
    border-radius: 3px;
  }

  .pick-q {
    margin: 15px 0px;
    text-align: right;
  }

  .judge {
    width: 30%;
    margin-left: 40px;
  }

}

@media (max-width: 600px) and (min-width: 401px) {

}

@media (max-width: 800px) and (min-width: 601px) {

}

*{
  background-color: #fc5f5d;
  color: white;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.horizontal-line {
  background-color: #f0f0f0;
  width: 700px;
  border-top: 1px solid #8c8b8b;
  margin-left: 0px;
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
}


.fancy-type {
  font-family: 'VT323', monospace;
}

.caps {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.white {
  background-color: white;
  color: #fc5f5d;
}
