@media (max-width: 400px) {
  .container {
    padding: 20px;
  }

  #login-img {
    margin-bottom: -50px;
  }

  .logo-top {
    float:right;
    clear: both;
    margin-top: -30px;
    margin-right: -20px;
    width: 60%;
    margin-bottom: -20px;
  }

  .logo-top:after {
    clear: both;
  }

  #profile-main {
   clear: both;
   margin-top: -80px;
   padding: -10px 30px;
  }

  .login-input {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 40px;
    padding: 0px 8px;
    border: 1px;
    border-color: white;
  }

  .misc-btn {
    background-color: white;
    margin-top: 10px;
    margin-right: 15px;
    color: #fc5f5d;
  }

  .misc-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .login-btn {
    background-color: white;
    color: #fc5f5d;
    margin-left: 33%;
    font-size: 1.4em;
    padding: 10px 20px;
    margin-top: 15px;
  }

  .toggle-btn {
    font-size: 1.5em;
    color: white;
    margin-top: 30px;
    margin-left: 15%;
  }
}

@media (max-width: 600px) and (min-width: 401px) {

}

@media (max-width: 800px) and (min-width: 601px) {

}

*{
  background-color: #fc5f5d;
  color: white;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.horizontal-line {
  background-color: #f0f0f0;
  width: 700px;
  border-top: 1px solid #8c8b8b;
  margin-left: 0px;
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
}

.age-range {
  width: 35%;
  display: inline-block;
}

.age-range-title {
  width: 100%;
  display: inline-block;
  text-align: left;
}
